Source: scanner
Section: python
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3-all,
 python3-setuptools,
Standards-Version: 4.7.4
Vcs-Browser: https://github.com/dimitry-ishenko-casparcg/scanner
Vcs-Git: https://github.com/dimitry-ishenko-casparcg/scanner.git

Package: casparcg-scanner
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ffmpeg,
Description: CasparCG Media Scanner
